body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: black;
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  background-attachment: fixed;
  font-family: sans-serif;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

#form-container {
  width: 425px;
  min-width: 425px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#submit-container, #guide-container, #hash-container, #image-container {
  background-color: rgba(232, 222, 169, 0.75);
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}

#submit-container, #hash-container {
  flex-grow: 1;
}

#guide-container {
  flex-grow: 1;
}

#guide-container h1 {
  font-size: 1.4em;
}

#guide-container h2 {
  font-size: 1.1em;
}

#guide-container ul,
#guide-container ol {
  margin-top: -10px;
  margin-left: -10px;
}

#guide-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#guide-container pre {
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#image-container {
  text-align: center;
}

#image-container img {
  max-width: 100%;
  height: auto;
}

input[type="submit"], textarea, #generate-hash, .accordion-heading {
  font-size: 18px;
  color: #222222;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

textarea {
  width: 100%;
  font-family: Consolas, 'Courier New', Courier, monospace;
  background-color: rgba(255, 255, 255, 0.8);
}

input[type="submit"], #generate-hash {
  width: 100%;
  height: 50px;
  background-color: #e8dea9;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover, #generate-hash:hover, .accordion-heading:hover {
  background-color: #c8b68a;
}

/* Styles for the accordion */
.accordion {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.accordion-heading {
  padding-left: 25px;
  position: relative;
  background-color: #e8dea9;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.accordion-heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%) rotate(-90deg);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #888;
  transition: transform 0.3s ease;
}

.accordion-heading.expanded::before {
  transform: translateY(-50%);
}

.accordion-content {
  max-height: 0;
  padding: 0px 10px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-content.show {
  max-height: 1000px; /* Set a value larger than the maximum expected height */
  padding: 0px 10px;
}
